---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lorem Ipsum">
  <main>
    Hello world
  </main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
  }
</style>
