---
import PostPreview from "../components/PostPreview.astro";
import SearchInput from "../components/SearchInput.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lorem Ipsum">
  <main>
    <nav>
      <SearchInput placeholder="search..." expand/>
    </nav>
    <h2>Jul, 2023</h2>
    <a href="#">
      <PostPreview title="Test" body="Lorem Ipsum Dolor Sit amet"/>
    </a>
    <a href="#">
      <PostPreview title="Test" body="Lorem Ipsum Dolor Sit amet"/>
    </a>
    <a href="#">
      <PostPreview title="Test" body="Lorem Ipsum Dolor Sit amet"/>
    </a>
    <h2>Feb, 2022</h2>
    <a href="#">
      <PostPreview title="Test" body="Lorem Ipsum Dolor Sit amet"/>
    </a>
    <a href="#">
      <PostPreview title="Test" body="Lorem Ipsum Dolor Sit amet"/>
    </a>
    <a href="#">
      <PostPreview title="Test" body="Lorem Ipsum Dolor Sit amet"/>
    </a>
  </main>
</Layout>

<style>
  nav {
    width: 45%;
    display: flex;
    justify-content: end;
    margin-bottom: -2rem;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  @media (min-width: 767px) {
    main {
      flex-wrap: nowrap;
      gap: 1.5rem;
      padding-top: 14vh;
    }
  }
  a {
    min-width: 45%;
    text-decoration: none;
    color: #222;
  }
  h2 {
    width: 45%;
    margin: 0;
    margin-top: 3rem;
  }
</style>
