---
import ArticlePreview from "../components/ArticlePreview.astro";
import SearchInput from "../components/SearchInput.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const articleEntries = await getCollection("article");
---

<Layout title="Lorem Ipsum">
  <main>
    <nav>
      <SearchInput placeholder="search..." expand />
    </nav>

    <h2>Jul, 2023</h2>
    
    {
      articleEntries.map(articleEntry => 
        <a href={`/blog/${articleEntry.slug}`}>
          <ArticlePreview
            title={articleEntry.data.title}
            body={articleEntry.data.description}
          />
        </a>
      )
    }

    <hr />

  </main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem 2rem 5rem;
  }
  main * {
    width: 100%;
  }
  @media (min-width: 767px) {
    main {
      flex-wrap: nowrap;
      padding-top: 5rem;
    }
    main * {
      max-width: 45%;
    }
  }
  nav {
    display: flex;
    justify-content: end;
  }
  a {
    text-decoration: none;
    color: #222;
  }
  h2 {
    margin-bottom: 1rem;
  }
  hr {
    width: 25%;
    margin: 2.5rem 0 1.5rem;
  }
</style>
