---
import ArticleCard from "../components/ArticleCard.astro";
import SearchInput from "../components/SearchInput.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const articleEntries = await getCollection("article");
---

<Layout title="Lorem Ipsum">
  <main>
    <nav>
      <SearchInput placeholder="Search" />
    </nav>

    <h1>Posts</h1>

    {articleEntries.map(articleEntry => 
      <ArticleCard entry={articleEntry}/>
    )}

    <hr/>

  </main>
</Layout>

<style>
  main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem 2rem 5rem;
    font-family: monospace;
  }
  main * {
    width: 100%;
  }
  @media (min-width: 767px) {
    main {
      flex-wrap: nowrap;
      padding-top: 5rem;
    }
    main * {
      max-width: 45%;
    }
  }
  nav {
    display: flex;
    justify-content: end;
    margin-bottom: 2.5rem;
  }
  hr {
    color: #00000055;
    width: 40%;
    margin-top: auto;
  }
</style>
