---
import Layout from "../layouts/Layout.astro";
---

<Layout title="[Object object]">
  <main
    class="flex flex-col md:flex-row justify-center gap-8 md:gap-12 mx-auto px-6 pt-12 md:pt-60 text-latte-text"
  >
    <aside>
      <img
        src="https://github.com/bronen.png"
        alt="profile picture"
        class="rounded-2xl w-40 mb-2 shadow-md mx-auto"
      />
      <ul class="flex justify-around w-40 mx-auto">
        <li>
          <a href="https://github.com/bronen">
            <img
              src="https://api.iconify.design/mdi:github.svg?color=%233c3f59"
              alt="github icon"
              class="w-8"
            />
          </a>
        </li>
        <li>
          <a href="https://twitter.com/lowbronen">
            <img
              src="https://api.iconify.design/mdi:twitter.svg?color=%233c3f59"
              alt="twitter icon"
              class="w-8"
            />
          </a>
        </li>
        <li>
          <a href="mailto:brennopereira6@gmail.com">
            <img
              src="https://api.iconify.design/mdi:email.svg?color=%233c3f59"
              alt="email icon"
              class="w-8"
            />
          </a>
        </li>
      </ul>
    </aside>
    <section class="h-full">
      <h1 class="text-end font-mono text-4xl font-bold">
        I <i>think</i> therefore it's not
        <a
          href="https://letmegooglethat.com/?q=extreme+go+horse"
          class="bg-clip-text text-transparent bg-size-[400%] bg-linear-to-r from-latte-mauve via-latte-magenta to-latte-mauve animate-oscillation"
          >XGH</a
        >
      </h1>
      <ul class="flex flex-col md:flex-row gap-4 mt-4 w-full h-full">
        <li
          class="p-1 rounded-xl w-full group
text-latte-text hover:text-transparent
bg-size-[400%] animate-oscillation hover:bg-linear-to-r
from-latte-mauve via-latte-magenta to-latte-mauve"
          style="box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);"
        >
          <a
            href="/blog"
            class="block w-full h-full px-4 py-3
  rounded-lg group-hover:bg-white group-hover:opacity-80"
          >
            <h2
              class="text-xl font-bold bg-size-[400%] bg-clip-text bg-linear-to-r
    from-latte-mauve via-latte-magenta to-latte-mauve animate-oscillation"
            >
              Blog
              <span>&rarr;</span>
            </h2>
            <p class="text-latte-text mt-2">Learning tech things in public</p>
          </a>
        </li>
        <li
          class="p-1 rounded-xl w-full group
  text-latte-text hover:text-transparent
  bg-size-[400%] animate-oscillation hover:bg-linear-to-r
  from-latte-mauve via-latte-magenta to-latte-mauve"
          style="box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);"
        >
          <a
            href="https://github.com/BRonen"
            class="block w-full h-full px-4 py-3
    rounded-lg group-hover:bg-white group-hover:opacity-80"
          >
            <h2
              class="text-xl font-bold bg-size-[400%] bg-clip-text bg-linear-to-r
      from-latte-mauve via-latte-magenta to-latte-mauve animate-oscillation"
            >
              Portfolio
              <span>&rarr;</span>
            </h2>
            <p class="text-latte-text mt-2">
              Take a look at my recent projects
            </p>
          </a>
        </li>
      </ul>
    </section>
  </main>
</Layout>
