---
interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<section>
  <h1>{title}</h1>
  <p>{body}</p>
</section>

<style>
  section {
    position: relative;
    border: 0.15rem solid transparent;
    border-left: 0.15rem solid gray;
    padding: 1rem 1.5rem;
    width: 100%;
    margin: -0.075rem 0;

    transition: margin 100ms ease-in-out;
  }
	section:hover {
    margin-left: 0.4rem;
	}
  section:hover > div {
    background-color: gray;
    position: absolute;
    left: -0.55rem;
    bottom: -0.25rem;
    top: -0.25rem;
    height: calc(100% + 0.5rem);
    width: 0.4rem;
  }
  section h1 {
    margin: 0;
    font-size: 1.25rem;
  }
  section p {
    margin: 0;
    color: #444;
    margin-top: 0.5rem;
  }
</style>
