---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import LeftArrow from "../../../components/icons/LeftArrow.astro";
import type { InferGetStaticPropsType, GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
  const articleEntries = await getCollection("article");

  return articleEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { entry } = Astro.props;

const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <main
    class="relative mx-auto pt-8 md:pt-10 px-4 mb-8 text-latte-text max-w-4xl h-full break-all"
  >
    <a
      href="javascript:history.back()"
      class="flex items-center gap-3 font-sans text-xl h-12 mb-6"
    >
      <LeftArrow />
      <span>Back</span>
    </a>
    <div class="prose w-full max-w-none mb-12">
      <Content />
    </div>

    <hr class="mb-16 w-full border-latte-surface2" />
  </main>
</Layout>
<style is:global>
  main .astro-code {
    font-family: monospace;
    overflow-y: scroll;
    padding: 0.75rem 1rem;
  }
  main .astro-code .line {
    word-break: break-all;
  }
</style>
